//Import any bower dependencies as so:
@import 'bower_components/bskyb-core/src/styles/modules/colours';
@import 'bower_components/bskyb-skycons/src/styles/skycons';

.accordion {
    margin-top: 24px;
    list-style: none;

    .accordion-heading {
        cursor: pointer;
        display: block;
        padding: 8px 35px 8px 8px;
        position: relative;
        margin-top: 4px;
        font-size: 20px;
        line-height: 32px;
        color: inherit;
        background-color: $background-light;
        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    .view-container {
        border-left: 1px solid $background-light;
        border-bottom: 1px solid $background-light;
        border-right: 1px solid $background-light;
        transition: height 0.5s ease-in-out;
        overflow: hidden;
    }

    .toggle-hidden {
        height: 0 !important;
        overflow: hidden;
    }

    .skycon-chevron-down {
        transition: all 0.5s ease-in-out;
        position: absolute;
        right: 10px;
        top: 30%;
        text-decoration: none;
    }
}
//keep outside so the toggle calculates the height correctly
.accordion-content {
    padding: 8px;
}

.accordion-rotate {
    transform: rotate(180deg);
}
